.wrapper {
    display: flex;
    flex-flow: column wrap;
    font-weight: bold;
    text-align: center;
    border-color: red;
    padding: 1em;
}

.wrapper>* {
    padding: 10px;
    flex: 1;
}

.header {
    border-color: cyan;
    height: 98px;
    display: flex;
    flex-flow: row;
}

.nav_button {
    width: 40%;
}

.logo {
    width: 30%;
}

.searchBar {
    width: 40%;
}

.main {
    border: 2px solid darkmagenta;
    width: 98.2%;
    display: flex;
    flex: 1;
    height: 260px;
}

.main>* {
    flex: 1 50%;
    width: 100%;
}

.aside {
    display: flex;
}

.nav_bar {
    background-color: gray;
    display: flex;
    width: 20%;
    height: 627px;
}

.nav_bar>* {
    flex: 1 40%;
}

ul {
    width: 20%;
    list-style: none;
    padding: 1em;
}

.footer {
    background: lightgreen;
}

.smain {
    background: deepskyblue;
    display: flex;
    width: 65%;
    margin-left: 2%;
    flex-flow: column;
    padding: 1em;
    height: 797px;
}

.first_article {
    border-color: brown;
    height: 676px;
}

.article_img {
    height: 585px;
}

.article_title {
    height: 80px;
}

.article_child {
    display: flex;
    height: 43px;
}

.article_child>* {
    flex: 1 40%;
    height: 43px;
}

.main_block {
    display: flex;
    margin-left: 300px;
    flex-flow: column;
}

.childblock {
    display: flex;
    flex-flow: row;
}

.insideChildBlock {
    height: 200px;
    margin-left: 15px;
    width: 21%;
}

.insideChildBlock:first-child {
    margin-left: 0;
}

.footer {
    display: flex;
    flex-flow: column;
    padding: 0.6em;
}

.footer_nav>* {
    border-color: aliceblue;
}

.footer_nav {
    background-color: #3F3F3F;
    height: 330px;
}

.footerlogo {
    height: 20%;
}

.innerfooter {
    display: flex;
    flex-flow: row;
    border-color: brown;
    margin: 0 30px;
    height: 70%;
}

.insideinner {
    width: 50%;
}

.footer_info {
    height: 97px;
}


/* @media all and (min-width: 600px) {
    .aside {
        flex: 1 0 0;
    }
} */


/* @media all and (min-width: 800px) {
    .main {
        flex: 3 0px;
    }
    .aside-1 {
        order: 1;
    }
    .smain {
        order: 2;
    }
    .aside-2 {
        order: 3;
    }
    .footer {
        order: 4;
    }
} */

body {
    padding: 1em;
    border-color: blueviolet;
}

* {
    border: 1px solid black;
    margin-bottom: 10px;
}

;